---
import { Icon } from 'astro-icon/components'
import { communityProjects } from '@data/community-projects.data'
---

{
  communityProjects.map(({ name, community, tech, icon, link }) => (
    <a
      class="card-project"
      href={link}
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="project-info">
        <h3>{name}</h3>
        <div class="project-details">
          <img src={icon} alt={community} />
          <p>{community}</p>
        </div>
        <Icon name={tech} size={68} />
      </div>
    </a>
  ))
}

<style>
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  .card-project {
    --color-1: #629bf8;
    --color-2: #497ff4;
    --color-3: #2858e8;
    --color-4: #2043d5;
    --color-5: #2038ad;
    --color-6: #203488;

    --border-colors: var(--color-1), var(--color-3), var(--color-2),
      var(--color-5), var(--color-4), var(--color-6), var(--color-1);

    --radius: 1rem;

    border: 2px solid var(--light-opacity);
    border-radius: var(--radius);
    background-color: var(--dark);
    position: relative;
    transition: border-color 0.3s ease-in-out;
    text-decoration: none;

    & > * + * {
      margin-top: 8px;
    }

    & .project-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.75rem;

      & h3 {
        color: var(--blue);
        margin-bottom: 0;
      }

      & .project-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        & img {
          max-height: 1.5rem;
          aspect-ratio: 1;
        }

        & p {
          margin-bottom: 0;
        }
      }

      & svg:nth-last-child(1) {
        z-index: 0;
        position: absolute;
        inset-inline-end: 0;
        inset-block-end: 0;
        opacity: 0.15;
      }
    }

    &::before,
    &::after {
      content: '';

      z-index: -1;
      width: 100%;
      height: 100%;

      position: absolute;
      translate: -50% -50%;
      inset-block-start: 50%;
      inset-inline-start: 50%;

      padding: 0.25rem;
      border-radius: var(--radius);
      background-image: conic-gradient(from var(--angle), var(--border-colors));
      animation: spin 3s linear infinite;
      animation-play-state: paused;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &::before {
      filter: blur(1.5rem);
    }

    &:hover {
      border-color: transparent;

      &::after,
      &::before {
        animation-play-state: running;
      }

      &::before {
        opacity: 0.5;
      }
      &::after {
        opacity: 1;
      }
    }
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
</style>
